includes:
	- vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
	level: 6
	paths:
		- "{{slug}}.php"
		- uninstall.php
		- inc/
	excludePaths:
		- vendor/
		- tests/
	reportUnmatchedIgnoredErrors: false
	ignoreErrors:
		# ACF/SCF functions are provided at runtime by Secure Custom Fields.
		- '#Function (acf_\w+|get_field|have_rows|the_row|get_sub_field|get_row_layout|get_row_index) not found#'
